<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <link rel="shortcut icon" href="/icon.ico" type="image/x-icon">
    <title>Countries REST API</title>
</head>

<body>
    <h3 id="Title">About</h3>
    <p>This is a student project, made to learn about REST APIs.</p>

    <h3 id="privacyPolicyTitle">Privacy Policy</h3>
    <p class="privacyPolicyItem">Collects Account Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Personal Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Device Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Metrics Data: <span class="yes">Yes</span></p>
    <p class="privacyPolicyItem">Collects Diagnostics Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Location Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Financial Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Messages Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Collects Media Data: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Uses Cookies: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Uses Local Storage: <span class="yes">Yes</span></p>
    <p class="privacyPolicyItem">Links to Other Websites: <span class="no">No</span></p>
    <p class="privacyPolicyItem">Policy Might Change in the Future: <span class="yes">Yes</span></p>
</body>
</html>


<style>
    /*** elements ***/
    body 
    { 
        width: 30vw; 
        margin: auto; 
        padding: 30px;
        overflow-y: scroll;
        /* border: 1px solid white;  */
        background-color: black; 
    }
    h3 { margin: 0px; padding: 0px; color: white; font-family: Arial, Helvetica, sans-serif; }
    p { margin: 0px; padding: 0px; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; }

    /*** ids ***/
    #privacyPolicyTitle { margin: 30px 0px 0px 0px; font-size: 20px; }
    #Title { margin: 0px; font-size: 20px; }

    /*** classes ***/
    .yes { color: lightgreen; }
    .no { color: red; }

    /*** mobile ***/
    @media screen and (max-width: 1000px) {
        body { width: auto; margin: 0px; box-shadow: 0px 0px black; border: 0px solid black; }
    }
</style>
