<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<script>
    function changeFormAction(value)
    {
        console.log(value)
        document.getElementById("form_RequestWithToken").action = "/" + value
    }
</script>

<body>
    <h1 id="title">Node REST API</h1>
    <h3 id="supportedCountriesTitle">Countries Supported</h3>
    <div id="supportedCountries">
        <p>Sweden</p>
        <p>Denmark</p>
        <p>Finland</p>
        <p>Germany</p>
        <p>Italy</p>
        <p>France</p>
        <p>Spain</p>
        <p>USA</p>
        <p>Mexico</p>
        <p>Brazil</p>
    </div>

    <h3 id="supportedEndpointsTitle">Routes Supported</h3>
    <div id="supportedEndpoints">
        <p>/countries</p>
        <p>/country?name=Sweden</p>
        <p>/country?name=Sweden&name=USA&name=Brazil</p>
    </div>

    <div id="generateToken">
        <form id="formRegister" action="/token" method="POST" target="">
            <!-- <h3>Token</h3> -->
            <button type="submit">Generate Token</button>
        </form>
    </div>

    <% if(token != null) { %>
    <div id="exampleRequest">
        <form id="formExampleRequest" action="/countries" method="POST" target="">
            <h3>Request</h3>

            <!-- <label>Token (Token is valid for 1h)</label> -->
            <input id="token" name="token" placeholder="token" value="<%=token %>"></input>
            <!-- <input id="" name="" placeholder="countries, country" value=""></input> -->

            <!-- <label>Type</label> -->
            <select id="endpoint" name="endpoint" onchange="changeFormAction(this.value)">
                <option value="countries">countries</option>
                <option value="country">country</option>
            </select>
            
            <!-- <label>Params</label> -->
            <input id="params" name="params" placeholder="sweden, brazil, usa" value=""></input>
            
            <button id="submit" type="submit">Submit</button>
        </form>
    </div>
    <% } else { %>
    <% } %>
</body>
</html>

<style>
    /*** elements ***/
    html { background-color: rgb(21, 53, 21); }
    body
    {
        width: 30vw;
        margin: auto;
        margin-top: 10vh;
        padding: 40px;
        font-family: Calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border: 1px solid black;
        box-shadow: 2px 1px black;
        background-color: white;
    }
    input { display: block; width: 90%; padding: 10px; font-size: 16px; }
    button { width: 100%; padding: 10px; font-weight: bold; border-radius: 0%; color: white; border: 1px solid black; background-color: black; }
    select { width: 100%; font-size: 24px; }
    h3 { margin: 0px; padding: 0px; }
    p { margin: 0px; font-size: 18px; }
    form { width: 100%; }
    select { width: 100%; }
    label { display: block; margin: 10px 0px 0px 0px; }
    a { display: block; }

    #supportedEndpointsTitle { margin: 20px 0px 0px 0px; user-select: none; font-size: 20px; }
    #supportedCountriesTitle { margin: 0px; user-select: none; font-size: 20px; }
    #generateToken { margin: 30px 0px 0px 0px; }
    #exampleRequest { margin: 30px 0px 0px 0px; }
    #title { margin: 0px 0px 20px 0px; text-align: center; user-select: none; }
    #submit { margin: 30px 0px 0px 0px; }
</style>
